# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.03_Jump.iml
# Datasource local storage ignored files
/../../../../../../../:\Developer\Unity\03_Jump\.idea\.idea.03_Jump\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
