# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.02_Wildlife.iml
# Datasource local storage ignored files
/../../../../../../../:\Developer\Unity\02_Wildlife\.idea\.idea.02_Wildlife\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
