# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.05_QuickClick.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Developer\Unity\Curso2020\05_QuickClick\.idea\.idea.05_QuickClick\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
