# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.John Lemon.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Developer\Unity\Curso2020\John Lemon\.idea\.idea.John Lemon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
